<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Friendly Gadget</title>
  <meta content="" name="description">

  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/assets/img/logo.png" rel="icon">
  <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet" />

  <link href="../static/assets/css/style.css" rel="stylesheet">
  <script src="../static/assets/js/main.js"></script>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="{{ url_for('index') }}" class="logo d-flex align-items-center">
        <img src="../static/assets/img/logo.png" alt="">
        <span>Friendly Gadget</span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#features">Feature </a></li>

          <!-- <li><a href="blog.html">Blog</a></li> -->
          <li><a class="getstarted scrollto" href="#portfolio">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">We offer modern solutions for finding your device</h1>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <button type="button" class="btn btn-light" data-toggle="modal"
              data-target="#exampleModal" title=" search for your device"> <a 
              class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center"
              href="#portfolio">start</a> </button>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="../static/assets/img/hero-img.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">

      <div class="container" data-aos="fade-up">
        <div class="row gx-0">

          <div class="col-lg-8 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <div class="content">
              <h3>Who We Are</h3>
              <p>
                This will be a friendly app that gives more clearer understanding about your gadget choices.It will be your no1 point of reference for a complete imformaive guide about a product or service of your mobile or computer devices              </p>
                <h3>Team Member's</h3>
                <dl>
                  <dt>Abdulwasiu Tunde Yusuf</dt>
                  <dd><a href="https://github.com/Yusuf-R"><i class="bi-github"></i></a> &nbsp; <a href="https://www.linkedin.com/in/abdulwasiu-yusuf-10044299/"><i class="bi-linkedin"></i></a></dd>
                  <br>
                  <dt>Saria Mohammed </dt>
                  <dd><a href="https://github.com/saria-mohi"><i class="bi-github"></i></a> &nbsp; <a href="https://www.linkedin.com/in/saria-mohi-aldein-mohammed-b17630137"><i class="bi-linkedin"></i></a></dd>
                <br>
                <dt>Friendly Gadget </dt>
                  <dd><a href="https://github.com/saria-mohi/FriendlyGadget"><i class="bi-github"></i></a> </dd>
              
                </dl>
                <!-- <table class="table">
                 <thead>
                  <tr>
                    <th>Name</th>
                    <th><i class="bi-github"></i> </th>
                    <th><i class="bi-linkedin"></i></th>
                  </tr>
                 </thead>
                 <tbody>
                  <tr>
                    <td><p>Abdulwasiu Tunde Yusuf Yusuf  </p></td>
                    <td><p>Yusuf-R </p></td>
                    <td><p></p></td>

                  </tr>
                  <tr>
                    <td><p>Saria Mohammed  </p></td>
                    <td><p> <a href="https://github.com/saria-mohi"><i class="bi-github"></i></a></p></td>
                    <td><p> <a href="https://www.linkedin.com/in/saria-mohi-aldein-mohammed-b17630137"><i class="bi-linkedin"></i></a></p></td>

                  </tr>
                 </tbody>
                 <tfoot>
                  <tr>
                    <td>Project Repostory</td>
                    <td><i class="bi-github"></i></td>
                    <td><a href="https://github.com/saria-mohi/FriendlyGadget">Friendly Gadget</a></td>
                  </tr>
                 </tfoot>
                </table> -->
                
                
            </div>
          </div>

          <div class="col-lg-4 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img src="../static/assets/img/about.jpg" class="img-fluid" alt="">
          </div>

        </div>
      </div>

    </section>
    <!-- End About Section -->

    <!-- ======= Values Section ======= -->
    <!-- <section id="values" class="values">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Our Values</h2>
          <p>Odit est perspiciatis laborum et dicta</p>
        </header>

        <div class="row">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="box">
              <img src="assets/img/values-1.png" class="img-fluid" alt="">
              <h3>Ad cupiditate sed est odio</h3>
              <p>Eum ad dolor et. Autem aut fugiat debitis voluptatem consequuntur sit. Et veritatis id.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
            <div class="box">
              <img src="assets/img/values-2.png" class="img-fluid" alt="">
              <h3>Voluptatem voluptatum alias</h3>
              <p>Repudiandae amet nihil natus in distinctio suscipit id. Doloremque ducimus ea sit non.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
            <div class="box">
              <img src="assets/img/values-3.png" class="img-fluid" alt="">
              <h3>Fugit cupiditate alias nobis.</h3>
              <p>Quam rem vitae est autem molestias explicabo debitis sint. Vero aliquid quidem commodi.</p>
            </div>
          </div>

        </div>

      </div>

    </section>
     -->
    <!-- End Values Section -->

    <!-- ======= Counts Section ======= -->
   
    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container" data-aos="fade-up">
        
        <header class="section-header">
          <h2>Features</h2>
          <p>Our Features</p>
        </header>

        <div class="row">

          <!-- <div class="col-lg-6">
            <img src="assets/img/features.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
            <div class="row align-self-center gy-4">

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="200">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>We help you get the best device</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="300">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>We help you identify your device</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="400">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>We save your time</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="500">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>We provide you with the best options</h3>
                </div>
              </div>
            </div>
          </div> -->

        </div> <!-- / row -->
       <!-- Feature Tabs -->
       <div class="row feture-tabs" data-aos="fade-up">
        <div class="col-lg-12">
          <h3>Friendly Gadget help you To</h3>

          <!-- Tabs -->
          <ul class="nav nav-pills mb-3">
            <li>
              <a class="nav-link active" data-bs-toggle="pill" href="#tab1"> get the best device</a>
            </li>
            <li>
              <a class="nav-link" data-bs-toggle="pill" href="#tab2">identify your device</a>
            </li>
            <li>
              <!-- <a class="nav-link" data-bs-toggle="pill" href="#tab3">Save time</a> -->
            </li>
          </ul><!-- End Tabs -->

          <!-- Tab Content -->
          <div class="tab-content">

            <div class="tab-pane fade show active" id="tab1">
              <!-- <video width="320" height="240" controls>
                <source src="../../../../freeLance Projects/vewDashBoard.mp4" type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
                Your browser does not support the video tag.
              </video> -->
              <div class="row">
                
                <div class="col-4">
                  <div class="d-flex align-items-center mb-2">
                    <i class="bi bi-check2"></i>
                    <h4> What Device your Need ??</h4>
                  </div>
                  <p>We help you to get the device that is suitable for your purposes with ease, by displaying the search results based on your requirements</p>
                </div>
                <div class="col-8">
                  <img src="../static/assets/img/f11.png" class="img-fluid" alt="">

                </div>
              </div>
              
                            
               </div><!-- End Tab 1 Content -->

            <div class="tab-pane fade show" id="tab2">
              <div class="row">
                
                <div class="col-4">
                  <div class="d-flex align-items-center mb-2">
                    <i class="bi bi-check2"></i>
                    <h4>How we can help You ??</h4>
                  </div>
                  <p>We help you to view the device's specifications and capabilities and identify each characteristic separately</p>
                </div>
                <div class="col-8">
                  <img src="../static/assets/img/f2.png" class="img-fluid" alt="">

                </div>
              </div>
            </div><!-- End Tab 2 Content -->

            <!-- <div class="tab-pane fade show" id="tab3">
              <p>Consequuntur inventore voluptates consequatur aut vel et. Eos doloribus expedita. Sapiente atque consequatur minima nihil quae aspernatur quo suscipit voluptatem.</p>
              <div class="d-flex align-items-center mb-2">
                <i class="bi bi-check2"></i>
                <h4>Repudiandae rerum velit modi et officia quasi facilis</h4>
              </div>
              <p>Laborum omnis voluptates voluptas qui sit aliquam blanditiis. Sapiente minima commodi dolorum non eveniet magni quaerat nemo et.</p>
              <div class="d-flex align-items-center mb-2">
                <i class="bi bi-check2"></i>
                <h4>Incidunt non veritatis illum ea ut nisi</h4>
              </div>
              <p>Non quod totam minus repellendus autem sint velit. Rerum debitis facere soluta tenetur. Iure molestiae assumenda sunt qui inventore eligendi voluptates nisi at. Dolorem quo tempora. Quia et perferendis.</p>
            </div> -->
            <!-- End Tab 3 Content -->

          </div>

        </div>

        <!-- <div class="col-lg-6">
          <img src="assets/img/features.png" class="img-fluid" alt="">
        </div> -->

      </div><!-- End Feature Tabs -->
        <!-- End Feature Tabs -->

        <!-- Feature Icons -->
        <div class="row feature-icons" data-aos="fade-up">
          <h3>Mobile Specs</h3>

          <div class="row">

            <div class="col-xl-4 text-center" data-aos="fade-right" data-aos-delay="100">
              <img src="../static/assets/img/features-3.png" class="img-fluid p-4" alt="">
            </div>

            <div class="col-xl-8 d-flex content">
              <div class="row align-self-center gy-4">

                <div class="col-md-6 icon-box" data-aos="fade-up">
                  <i class="ri-camera-2-fill"></i>
                  <div>
                    <h4><a href="https://tavish.hashnode.dev/battery">Camera</a></h4>
                    <p>A camera phone is a mobile phone that can take pictures and record video clips. The pictures and clips from the camera phone can then be transferred to and stored in a computer, shared with other mobile devices and so on</p>
                  </div>
                </div>

                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="ri-stack-line"></i>
                  <div>
                    <h4><a href="">Storage</a></h4>
                    <p>When you buy a smartphone, you'd ideally ensure it has enough storage space to meet your needs. But, unfortunately, not everyone's needs are the same. Some users are hoarders and need more storage, while others can do just fine with the bare minimum.</p>
                  </div>
                </div>

                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                  <i class="ri-tv-line"></i>
                  <div>
                    <h4><a href="">Screen</a></h4>
                    <p>The screen, when combined with the touch element, is 'the' major element of the user interface and as such we go to great lengths when testing screens during our review process to measure a displays quality by measuring Contrast Ratio, Color Calibration, Brightness and Sunlight Legibility.</p>
                  </div>
                </div>

                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                  <i class="ri-battery-2-charge-fill"></i>
                  <div>
                    <h4><a href="https://tavish.hashnode.dev/battery">Battery</a></h4>
                    <p>A cell phone battery is a rechargeable battery that allows a cellular phone to be used anywhere. The battery is revitalized with a charger specifically designed for a particular phone and battery. A charger usually needs to be plugged into a power source; such as, an electrical outlet or a car cigarette lighter for a recharge.</p>
                  </div>
                </div>

                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                  <i class="ri-wifi-fill"></i>
                  <div>
                    <h4><a href="">WIFI</a></h4>
                    <p>WiFi hotspots are internet access points that allow you to connect to a WiFi network using your computer,
                       smartphone or another device while away from your home or office network. 
                       Many cities, businesses, and other organizations have begun offering WiFi hotspots for public use. These hotspots help people access faster internet connections than what is often available cellular networks.</p>
                  </div>
                </div>

                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                  <i class="ri-radar-line"></i>
                  <div>
                    <h4><a href="#">OS</a></h4>
                    <p>A mobile OS provides an interface between the device's hardware components and its software functions. It typically starts when a device powers on, presenting a screen with icons or tiles that show information and provide application access. Mobile operating systems also manage cellular and wireless network connectivity and phone access.</p>
                  </div>
                </div>

              </div>
            </div>

          </div>

        </div><!-- End Feature Icons -->

      </div>

    </section><!-- End Features Section -->

    <section id="portfolio" class="portfolio">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>What you need?? you can find here!!!</h2>
          <section id="search" class="blog">
            <div class="container" data-aos="fade-up">

              <div class="row">
      
                <div class="col-lg-12 entries">
                  <div class="blog-comments">
                    <div class="reply-form">
                      <p style="text-align: left;    font-size: 38px;
                      line-height: 42px;
                      font-weight: 700;">Enter Your Features</p>

                      <hr>
                      <br><br>
                      <form action="">
                        <div class="row">
                          <div class="col-md-6 form-group">

                            <!-- <label for="deviceSelect">Select Your Device:</label> -->
                            <select class="form-select" id="deviceSelect">
                              <option selected disabled>Select Your Device</option>
                              <option value="PC">PC</option>
                              <option value="Mobile">Mobile</option>
                            </select>
                          </div>
                          <div class="col-md-6 form-group">
                            <!-- <label for="itemSelect">Select an Item:</label> -->
                            <select class="form-select" id="itemSelect">
                              <option selected disabled>Select Purpose</option>
                              <option value="Gaming">Gaming</option>
                              <option value="Photography">Photography</option>
                              <option value="SocialMedia">Social Media</option>
                              <option value="Publishing">Publishing</option>
                              <option value="Marketing">Marketing</option>
                              <option value="Multimedia">Multimedia</option>
                              <option value="Basic">Basic</option>
                            </select>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6 form-group">

                            <!-- <label for="subItemSelect">Select Sub-Item:</label> -->
                            <select class="form-select" id="subItemSelect">
                              <option selected disabled>Select Specific Purpose</option>
                              <!-- Options will be populated dynamically with JavaScript -->
                            </select>
                          </div>
                          <div class="col-md-3 form-group">
                            <button type="button" class="btn btn-primary" onclick="addSelection()">Add
                              Selection</button>
                          </div>
                          <div class="col-md-3 form-group">
                            <!-- <label for="currentSelection">Current Selection:</label> -->
                            <div id="currentSelectionContainer" class="bg-light"></div>

                          </div>
                          
                        </div>

                        <div class="row mt-3">
                          <div class="col-md-6 form-group">
                            <input type="submit" onclick="search()" class="btn btn-primary" value="Search">
                              <!-- <button type="button" class="btn btn-success" onclick="search()">Search</button> -->
                          </div>
                      </div>


                        <!-- <button type="submit" class="btn btn-primary"><a href="{{ url_for('search') }}"
                            class="text-white">Search</a></button> -->

                      </form>
      
                  </div>
      
                </div><!-- End blog comments -->
      
              </div><!-- End blog entries list -->
      
      
            </div>
      
           
          </section>
          <p>Check our latest Models</p>
        </header>

         <div class="row">
          {% for m in obj %}
            {% for model in m.models %}
              <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                  <img src="{{ model.model_img }}" class="img-fluid" alt="">
                  <div class="portfolio-info">
                    <h4>{{ m.brand_name }}</h4>
                    <p>{{ model.model_name }}</p>
                    <div class="portfolio-links">
                      <a href="{{ model.model_img }}" data-gallery="portfolioGallery" class="portfokio-lightbox" title="{{ model.model_name }}"><i class="bi bi-plus"></i></a>
                      <a href="{{ url_for('single_model', model_id=model.id) }}" title="More Details"><i class="bi bi-link"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% endfor %}
        </div>      

          
        </div>

      </div>

    </section><!-- End Portfolio Section -->

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Our Brand</h2>
          <p>  </p>
        </header>

        <div class="clients-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="../static/assets/img/clients/samsung.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="../static/assets/img/clients/nokia2.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="../static/assets/img/clients/hawie.jpeg" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="../static/assets/img/clients/apple.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="../static/assets/img/clients/tec" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="../static/assets/img/clients/dell.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="../static/assets/img/clients/lenovo.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="../static/assets/img/clients/asus.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="../static/assets/img/clients/hp.png" class="img-fluid" alt=""></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>

    </section><!-- End Clients Section -->

    <!-- ======= Recent Blog Posts Section ======= -->
    <!-- <section id="recent-blog-posts" class="recent-blog-posts">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Blog</h2>
          <p>Recent posts form our Blog</p>
        </header>

        <div class="row">

          <div class="col-lg-4">
            <div class="post-box">
              <div class="post-img"><img src="assets/img/blog/blog-1.jpg" class="img-fluid" alt=""></div>
              <span class="post-date">Tue, September 15</span>
              <h3 class="post-title">Eum ad dolor et. Autem aut fugiat debitis voluptatem consequuntur sit</h3>
              <a href="blog-single.html" class="readmore stretched-link mt-auto"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="post-box">
              <div class="post-img"><img src="assets/img/blog/blog-2.jpg" class="img-fluid" alt=""></div>
              <span class="post-date">Fri, August 28</span>
              <h3 class="post-title">Et repellendus molestiae qui est sed omnis voluptates magnam</h3>
              <a href="blog-single.html" class="readmore stretched-link mt-auto"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="post-box">
              <div class="post-img"><img src="assets/img/blog/blog-3.jpg" class="img-fluid" alt=""></div>
              <span class="post-date">Mon, July 11</span>
              <h3 class="post-title">Quia assumenda est et veritatis aut quae</h3>
              <a href="blog-single.html" class="readmore stretched-link mt-auto"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

        </div>

      </div>

    </section>
     -->
    <!-- End Recent Blog Posts Section -->
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12 text-center">
            <h4>Our Newsletter</h4>
            <p>Please! Subscribe in our Site to Follow our News</p>
          </div>
          <div class="col-lg-6">
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-4 col-md-12 footer-info">
            <a href="index.html" class="logo d-flex align-items-center">
              <img src="../static/assets/img/logo.png" alt="">
              <span>Frindly Gadget</span>
            </a>
            <p>Help people to find optimal device </p>
          </div>

          <div class="col-lg-4 col-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#hero">Home</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#about">About us</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#recent-blog-posts">blog</a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-12 footer-contact text-center text-md-start">
            <h4>Contact Us</h4>
              <strong>Email:</strong> <a href="mailto:info@example.com">info@example.com</a><br>
            </p>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Frindly Gadget</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
           Designed by <a href="#">ALX Project Team Group</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/assets/vendor/purecounter/purecounter.js"></script>
  <script src="../static/assets/vendor/aos/aos.js"></script>
  <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/assets/vendor/php-email-form/validate.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
  <!-- Template Main JS File -->
  <script src="../static/assets/js/main.js"></script>
  <script>
 $(".chosen-select").chosen({
      no_results_text: "Oops, nothing found!"
    });
  </script>
</body>

</html>