<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Friendly Gadget</title>
  <meta content="" name="description">

  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/assets/img/logo.png" rel="icon">
  <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet" />

  <link href="../static/assets/css/style.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="{{ url_for('index') }}" class="logo d-flex align-items-center">
        <img src="../static/assets/img/logo.png" alt="">
        <span>Friendly Gadget</span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#features">Feature </a></li>

          <!-- <li><a href="blog.html">Blog</a></li> -->
          <li><a class="getstarted scrollto" href="#portfolio">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">We offer modern solutions for finding your device</h1>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <button type="button" class="btn btn-light" data-toggle="modal"
              data-target="#exampleModal" title=" search for your device"> <a 
              class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center"
              href="#portfolio">start</a> </button>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="../static/assets/img/hero-img.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">

      <div class="container" data-aos="fade-up">
        <div class="row gx-0">

          <div class="col-lg-8 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <div class="content">
              <h3>Who We Are</h3>
              <p>
                This will be a friendly app that gives more clearer understanding about your gadget choices.It will be your no1 point of reference for a complete imformaive guide about a product or service of your mobile or computer devices  </p>  
                
            </div>
          </div>

          <div class="col-lg-4 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img src="../static/assets/img/about.jpg" class="img-fluid" alt="">
          </div>

        </div>
      </div>

    </section>
    <!-- End About Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container" data-aos="fade-up">
        
        <header class="section-header">
          <h2>Features</h2>
          <p>Our Features</p>
        </header>

        <div class="row">

          <!-- <div class="col-lg-6">
            <img src="assets/img/features.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
            <div class="row align-self-center gy-4">

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="200">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>We help you get the best device</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="300">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>We help you identify your device</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="400">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>We save your time</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="500">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>We provide you with the best options</h3>
                </div>
              </div>
            </div>
          </div> -->

        </div> <!-- / row -->
       <!-- Feature Tabs -->
       <div class="row feture-tabs" data-aos="fade-up">
        <div class="col-lg-12">
          
          <div class="page-wrap">

            <div id="home-slider">
              <div class="swiper-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide swiper-slide-one">
                    <div class="swiper-image" data-swiper-parallax-y="-20%">
                      <div class="swiper-image-inner swiper-image-left swiper-image-one">
                        <h1>A <span class="emphasis">Camera</span></h1>
                        </span>
                      </div>
                    </div>
                    <div class="swiper-image" data-swiper-parallax-y="35%">
                      <div class="swiper-image-inner swiper-image-right ">
                        <p class="paragraph">
                          A camera phone is a mobile phone that can take pictures and record video clips. The pictures
                          and clips from the camera phone can then be transferred to and stored in a computer, shared
                          with other mobile devices and so on
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide swiper-slide-two">
                    <div class="swiper-image" data-swiper-parallax-y="-20%">
                      <div class="swiper-image-inner swiper-image-left swiper-image-three">
                        <h1>The <span class="emphasis">Screen</span> </h1>
                      </div>
                    </div>
                    <div class="swiper-image" data-swiper-parallax-y="35%">
                      <div class="swiper-image-inner swiper-image-right swiper-backgroun1">
                        <p class="paragraph">
                          The screen, when combined with the touch element, is 'the' major element of the user
                          interface and as such we go to great lengths when testing screens during our review process
                          to measure a displays quality by measuring Contrast Ratio, Color Calibration, Brightness and
                          Sunlight Legibility. </p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide swiper-slide-three">
                    <div class="swiper-image" data-swiper-parallax-y="-20%">
                      <div class="swiper-image-inner swiper-image-left swiper-image-four">
                        <h1><span class="emphasis">OS</span> <br><span>Operation System</span></h1>
                      </div>
                    </div>
                    <div class="swiper-image" data-swiper-parallax-y="35%">
                      <div class="swiper-image-inner swiper-image-right swiper-backgroun2">
                        <p class="paragraph">
                          A mobile OS provides an interface between the device's hardware components and its software
                          functions. It typically starts when a device powers on, presenting a screen with icons or
                          tiles that show information and provide application access. Mobile operating systems also
                          manage cellular and wireless network connectivity and phone access.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide swiper-slide-one">
                    <div class="swiper-image" data-swiper-parallax-y="-20%">
                      <div class="swiper-image-inner swiper-image-left swiper-image-fife">
                        <h1><span class="emphasis">Storage</span><br><span>Internal Storage</span></h1>
                      </div>
                    </div>
                    <div class="swiper-image" data-swiper-parallax-y="35%">
                      <div class="swiper-image-inner swiper-image-right swiper-backgroun3">
                        <p class="paragraph">
                          When you buy a smartphone, you'd ideally ensure it has enough storage space to meet your
                          needs. But, unfortunately, not everyone's needs are the same. Some users are hoarders and
                          need more storage, while others can do just fine with the bare minimum. </p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide swiper-slide-two">
                    <div class="swiper-image" data-swiper-parallax-y="-20%">
                      <div class="swiper-image-inner swiper-image-left swiper-image-sex">
                        <h1><span class="emphasis">Battery</span></h1>
                      </div>
                    </div>
                    <div class="swiper-image" data-swiper-parallax-y="35%">
                      <div class="swiper-image-inner swiper-image-rightswiper-backgroun4">
                        <p class="paragraph">
                          A cell phone battery is a rechargeable battery that allows a cellular phone to be used
                          anywhere. The battery is revitalized with a charger specifically designed for a particular
                          phone and battery. A charger usually needs to be plugged into a power source; such as, an
                          electrical outlet or a car cigarette lighter for a recharge.
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide swiper-slide-three">
                    <div class="swiper-image" data-swiper-parallax-y="-20%">
                      <div class="swiper-image-inner swiper-image-left swiper-image-seven">
                        <h1><span class="emphasis">GPU</span><br><span>Graphics Processing Unit</span> </h1>
                      </div>
                    </div>
                    <div class="swiper-image" data-swiper-parallax-y="35%">
                      <div class="swiper-image-inner swiper-image-right swiper-backgroun5">
                        <p class="paragraph">
                          Is a critical factor for anyone considering gaming on your smartphone. It is similar to
                          chipset but exclusive to handling graphics functions. Unlike the chipset processor which may
                          have four or eight powerful cores for important functions, a GPU can have hundreds of normal
                          cores to handle the fast and complex graphics. More cores mean a smoother game, whatever
                          game you play.
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide swiper-slide-one">
                    <div class="swiper-image" data-swiper-parallax-y="-20%">
                      <div class="swiper-image-inner swiper-image-left swiper-image-eight">
                        <h1><span class="emphasis">WIFI</span><br><span>Wireless</span> </h1>
                      </div>
                    </div>
                    <div class="swiper-image" data-swiper-parallax-y="35%">
                      <div class="swiper-image-inner swiper-image-right swiper-backgroun6">
                        <p class="paragraph">
                          WiFi hotspots are internet access points that allow you to connect to a WiFi network using
                          your computer, smartphone or another device while away from your home or office network.
                          Many cities, businesses, and other organizations have begun offering WiFi hotspots for
                          public use. These hotspots help people access faster internet connections than what is often
                          available cellular networks.
                      </div>
                    </div>
                  </div>

                  <div class="swiper-slide swiper-slide-two">
                    <div class="swiper-image" data-swiper-parallax-y="-20%">
                      <div class="swiper-image-inner swiper-image-left swiper-image-nine">
                        <h1><span class="emphasis">RAM</span><br><span>Random Access Memory</span> </h1>
                      </div>
                    </div>
                    <div class="swiper-image" data-swiper-parallax-y="35%">
                      <div class="swiper-image-inner swiper-image-right swiper-backgroun5">
                        <p class="paragraph">
                          Is built into your smartphone and is a place to hold data. Smartphones with a small amount
                          of RAM are more prone to slow down, especially when a large number of applications are open.
                          As a result, smartphone memory is another factor that can have a detrimental impact on your
                          gaming experience, if the memory is too small. Most commonly, smartphones come with between
                          4 and 8GB RAM as a bare minimum, but often more advanced devices can reach up to 10 or 12GB,
                          which is ideal for mobile gaming.
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide swiper-slide-three">
                    <div class="swiper-image" data-swiper-parallax-y="-20%">
                      <div class="swiper-image-inner swiper-image-left swiper-image-ten">
                        <h1><span class="emphasis">Cooling System</span></h1>
                      </div>
                    </div>
                    <div class="swiper-image" data-swiper-parallax-y="35%">
                      <div class="swiper-image-inner swiper-image-rightswiper-backgroun8">
                        <p class="paragraph">
                          Many new smartphones utilise thermal technology to cool down the device. During mobile
                          gameplay, handsets often heat up, this is because playing on mobile games is a
                          resource-intensive task for your smartphone. Some manufacturers incorporate liquid cooling
                          to regulate the temperature of the smartphone, whilst others add an internal fan. So, it’s
                          worth checking the cooling system of your potential handset and finding an appropriate
                          device that can handle your gaming needs.
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide swiper-slide-one">
                    <div class="swiper-image" data-swiper-parallax-y="-20%">
                      <div class="swiper-image-inner swiper-image-left swiper-image-el">
                        <h1><span class="emphasis">Refresh Rate</span><br></h1>
                      </div>
                    </div>
                    <div class="swiper-image" data-swiper-parallax-y="35%">
                      <div class="swiper-image-inner swiper-image-right swiper-backgroun5">
                        <p class="paragraph">
                          The refresh rate is the number of times the graphic frames appear as the screen renews: so
                          the higher the value, the better. This gives you a smooth view of the graphics, especially
                          the video. Though you you’ll find many smartphones on the market with a refresh rate of 60
                          Hz, elite gamers opt for values as high as 120 Hz, which means the graphics on the screen
                          updates 120 times a second. We recommend a refresh rate of at least 90 Hz for gaming.
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide swiper-slide-two">
                    <div class="swiper-image" data-swiper-parallax-y="-20%">
                      <div class="swiper-image-inner swiper-image-left swiper-image-tw">
                        <h1><span class="emphasis">Chip Set</span><br></h1>
                      </div>
                    </div>
                    <div class="swiper-image" data-swiper-parallax-y="35%">
                      <div class="swiper-image-inner swiper-image-right swiper-backgroun5">
                        <p class="paragraph">
                          The chipset is essentially the heart of a smartphone. A phone’s clock speed determines the
                          speed of the device with normal operations and the core count indicates how many tasks it
                          can handle simultaneously without fatigue. The days of dual code and quad-core are almost
                          gone. Now it is the time for octa-core or eight cores, which means a smart phone can handle
                          many times more functions together compared to earlier versions. The chipset is also called
                          SoC and the preferred SoC for most gaming smartphones is Qualcomm Snapdragon 865. However,
                          Snapdragon 855 and above will be perfectly suitable for most gamers.
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide swiper-slide-three">
                    <div class="swiper-image" data-swiper-parallax-y="-20%">
                      <div class="swiper-image-inner swiper-image-left swiper-image-th">
                        <h1><span class="emphasis">Processor</span><br></h1>
                      </div>
                    </div>
                    <div class="swiper-image" data-swiper-parallax-y="35%">
                      <div class="swiper-image-inner swiper-image-right swiper-backgroun7">
                        <p class="paragraph">
                          For mobile gamers, there’s nothing worse than glitches slowing down your game. This is all
                          determined by the quality of your smartphone’s processor and is an important spec to
                          consider. Advanced processors like Apple’s A15 Bionic chip, the Qualcomm Snapdragon 888, or
                          Samsung Exynos 2100 are powerful chipsets that can provide you with seamless, glitch-free
                          gaming. These chipsets are the main impetus behind a smartphone’s ability to multitask too,
                          which means you have the option to quickly check your social media, before delving back into
                          your mobile game. On top of that, improved processors mean that your battery is distributed
                          more efficiently, giving you more time to complete the next level, without needing to
                          recharge.
                      </div>
                    </div>
                  </div>



                  <div class="swiper-pagination"></div>
                </div>
              </div>

            </div>

          </div>



        </div>
      </div><!-- End Feature Tabs -->
        <!-- End Feature Tabs -->

        <!-- Feature Icons -->
        <!-- <div class="row feature-icons" data-aos="fade-up">
          <h3>Get to know your Mobile Specs</h3>

          <div class="row">

            <div class="col-xl-4 text-center" data-aos="fade-right" data-aos-delay="100">
              <img src="../static/assets/img/features-3.png" class="img-fluid p-4" alt="">
            </div>

            <div class="col-xl-8 d-flex content">
              <div class="row align-self-center gy-4">

                <div class="col-md-6 icon-box" data-aos="fade-up">
                  <i class="ri-camera-2-fill"></i>
                  <div>
                    <h4><a href="https://tavish.hashnode.dev/battery">Camera</a></h4>
                    <p>A camera phone is a mobile phone that can take pictures and record video clips. The pictures and clips from the camera phone can then be transferred to and stored in a computer, shared with other mobile devices and so on</p>
                  </div>
                </div>


                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                  <i class="ri-tv-line"></i>
                  <div>
                    <h4><a href="">Screen</a></h4>
                    <p>The screen, when combined with the touch element, is 'the' major element of the user interface and as such we go to great lengths when testing screens during our review process to measure a displays quality by measuring Contrast Ratio, Color Calibration, Brightness and Sunlight Legibility.</p>
                  </div>
                </div>

                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                  <i class="ri-radar-line"></i>
                  <div>
                    <h4><a href="#">OS</a></h4>
                    <p>A mobile OS provides an interface between the device's hardware components and its software functions. It typically starts when a device powers on, presenting a screen with icons or tiles that show information and provide application access. Mobile operating systems also manage cellular and wireless network connectivity and phone access.</p>
                  </div>
                </div>


                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="ri-stack-line"></i>
                  <div>
                    <h4><a href="">Storage</a></h4>
                    <p>When you buy a smartphone, you'd ideally ensure it has enough storage space to meet your needs. But, unfortunately, not everyone's needs are the same. Some users are hoarders and need more storage, while others can do just fine with the bare minimum.</p>
                  </div>
                </div>


                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="ri-stack-line"></i>
                  <div>
                    <h4><a href="">GPU</a></h4>
                      <p>
                        GPU (Graphics Processing Unit) is a critical factor for anyone considering gaming on your smartphone. It is similar to chipset but exclusive to handling graphics functions. Unlike the chipset processor which may have four or eight powerful cores for important functions, a GPU can have hundreds of normal cores to handle the fast and complex graphics. More cores mean a smoother game, whatever game you play.

                      </p>
                  </div>
                </div>


                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                  <i class="ri-battery-2-charge-fill"></i>
                  <div>
                    <h4><a href="https://tavish.hashnode.dev/battery">Battery</a></h4>
                    <p>A cell phone battery is a rechargeable battery that allows a cellular phone to be used anywhere. The battery is revitalized with a charger specifically designed for a particular phone and battery. A charger usually needs to be plugged into a power source; such as, an electrical outlet or a car cigarette lighter for a recharge.</p>
                  </div>
                </div>


                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                  <i class="ri-wifi-fill"></i>
                  <div>
                    <h4><a href="">WIFI</a></h4>
                    <p>WiFi hotspots are internet access points that allow you to connect to a WiFi network using your computer,
                       smartphone or another device while away from your home or office network. 
                       Many cities, businesses, and other organizations have begun offering WiFi hotspots for public use. These hotspots help people access faster internet connections than what is often available cellular networks.</p>
                  </div>
                </div>


                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="ri-stack-line"></i>
                  <div>
                    <h4><a href="">RAM</a></h4>
                    <p>
                      RAM (Random Access Memory) is built into your smartphone and is a place to hold data. Smartphones with a small amount of RAM are more prone to slow down, especially when a large number of applications are open.
                      As a result, smartphone memory is another factor that can have a detrimental impact on your gaming experience, if the memory is too small. Most commonly, smartphones come with between 4 and 8GB RAM as a bare minimum, but often more advanced devices can reach up to 10 or 12GB, which is ideal for mobile gaming.</p>
                  </div>
                </div>











                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="ri-stack-line"></i>
                  <div>
                    <h4><a href="">Cooling System</a></h4>
                      <p>
                        Many new smartphones utilise thermal technology to cool down the device. During mobile gameplay, handsets often heat up, this is because playing on mobile games is a resource-intensive task for your smartphone.
                        Some manufacturers incorporate liquid cooling to regulate the temperature of the smartphone, whilst others add an internal fan. So, it’s worth checking the cooling system of your potential handset and finding an appropriate device that can handle your gaming needs.

                      </p>
                  </div>
                </div>


                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="ri-stack-line"></i>
                  <div>
                    <h4><a href="">Refresh Rate</a></h4>
                      <p>
                        The refresh rate is the number of times the graphic frames appear as the screen renews: so the higher the value, the better. This gives you a smooth view of the graphics, especially the video. Though you you’ll find many smartphones on the market with a refresh rate of 60 Hz, elite gamers opt for values as high as 120 Hz, which means the graphics on the screen updates 120 times a second. We recommend a refresh rate of at least 90 Hz for gaming.

                      </p>
                  </div>
                </div>


                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="ri-stack-line"></i>
                  <div>
                    <h4><a href="">Chip Set</a></h4>
                      <p>
                        The chipset is essentially the heart of a smartphone. A phone’s clock speed determines the speed of the device with normal operations and the core count indicates how many tasks it can handle simultaneously without fatigue. The days of dual code and quad-core are almost gone.
                        Now it is the time for octa-core or eight cores, which means a smart phone can handle many times more functions together compared to earlier versions. The chipset is also called SoC and the preferred SoC for most gaming smartphones is Qualcomm Snapdragon 865. However, Snapdragon 855 and above will be perfectly suitable for most gamers.

                      </p>
                  </div>
                </div>





                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="ri-stack-line"></i>
                  <div>
                    <h4><a href="">Cooling System</a></h4>
                      <p>
                        Many new smartphones utilise thermal technology to cool down the device. During mobile gameplay, handsets often heat up, this is because playing on mobile games is a resource-intensive task for your smartphone.
                        Some manufacturers incorporate liquid cooling to regulate the temperature of the smartphone, whilst others add an internal fan. So, it’s worth checking the cooling system of your potential handset and finding an appropriate device that can handle your gaming needs.

                      </p>
                  </div>
                </div>


                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="ri-stack-line"></i>
                  <div>
                    <h4><a href="">Processor</a></h4>
                    <p>
                      For mobile gamers, there’s nothing worse than glitches slowing down your game. This is all determined by the quality of your smartphone’s processor and is an important spec to consider.
                      Advanced processors like Apple’s A15 Bionic chip, the Qualcomm Snapdragon 888, or Samsung Exynos 2100 are powerful chipsets that can provide you with seamless, glitch-free gaming. These chipsets are the main impetus behind a smartphone’s ability to multitask too, which means you have the option to quickly check your social media, before delving back into your mobile game. On top of that, improved processors mean that your battery is distributed more efficiently, giving you more time to complete the next level, without needing to recharge.</p>
                  </div>
                </div>















              </div>
            </div>

          </div>

        </div> -->
        
        <!-- End Feature Icons -->

      </div>

    </section><!-- End Features Section -->

    <section id="portfolio" class="portfolio">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>What you need?? you can find here!!!</h2>
          <section id="search" class="blog">
            <div class="container" data-aos="fade-up">

              <div class="row">
      
                <div class="col-lg-12 entries">
                  <div class="blog-comments">
                    <div class="reply-form">
                      <p style="text-align: left;    font-size: 38px;
                      line-height: 42px;
                      font-weight: 700;">Enter Your Features</p>

                      <hr>
                      <br><br>
                      <form action="">
                        <div class="row">
                          <div class="col-md-6 form-group">

                            <!-- <label for="deviceSelect">Select Your Device:</label> -->
                            <select class="form-select" id="deviceSelect">
                              <option selected disabled>Select Your Device</option>
                              <option value="PC">PC</option>
                              <option value="Mobile">Mobile</option>
                            </select>
                          </div>
                          <div class="col-md-6 form-group">
                            <!-- <label for="itemSelect">Select an Item:</label> -->
                            <select class="form-select" id="itemSelect">
                              <option selected disabled>Select Purpose</option>
                              <option value="Gaming">Gaming</option>
                              <option value="Photography">Photography</option>
                              <option value="SocialMedia">Social Media</option>
                              <option value="Publishing">Publishing</option>
                              <option value="Marketing">Marketing</option>
                              <option value="Multimedia">Multimedia</option>
                              <option value="Basic">Basic</option>
                            </select>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6 form-group">

                            <!-- <label for="subItemSelect">Select Sub-Item:</label> -->
                            <select class="form-select" id="subItemSelect">
                              <option selected disabled>Select Specific Purpose</option>
                              <!-- Options will be populated dynamically with JavaScript -->
                            </select>
                          </div>
                          <div class="col-md-3 form-group">
                            <button type="button" class="btn btn-primary" onclick="addSelection()">Add
                              Selection</button>
                          </div>
                          <div class="col-md-3 form-group">
                            <!-- <label for="currentSelection">Current Selection:</label> -->
                            <div id="currentSelectionContainer" class="bg-light"></div>

                          </div>
                          
                        </div>

                        <div class="row mt-3">
                          <div class="col-md-6 form-group">
                            <input type="submit" onclick="search()" class="btn btn-primary" value="Search">
                          </div>
                      </div>
                      </form>
      
                  </div>
      
                </div><!-- End blog comments -->
      
              </div><!-- End blog entries list -->
      
      
            </div>
      
           
          </section>
          <p>Check our latest Models</p>
        </header>

         <div class="row">
          {% for m in obj %}
            {% for model in m.models %}
              <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                  <img src="{{ model.model_img }}" class="img-fluid" alt="">
                  <div class="portfolio-info">
                    <h4>{{ m.brand_name }}</h4>
                    <p>{{ model.model_name }}</p>
                    <div class="portfolio-links">
                      <a href="{{ model.model_img }}" data-gallery="portfolioGallery" class="portfokio-lightbox" title="{{ model.model_name }}"><i class="bi bi-plus"></i></a>
                      <a href="{{ url_for('single_model', model_id=model.id) }}" title="More Details"><i class="bi bi-link"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% endfor %}
        </div>      

          
        </div>

      </div>

    </section><!-- End Portfolio Section -->

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Our Brand</h2>
          <p>  </p>
        </header>

        <div class="clients-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="../static/assets/img/clients/samsung.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="../static/assets/img/clients/nokia2.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="../static/assets/img/clients/hawie.jpeg" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="../static/assets/img/clients/apple.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="../static/assets/img/clients/tec" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="../static/assets/img/clients/dell.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="../static/assets/img/clients/lenovo.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="../static/assets/img/clients/asus.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="../static/assets/img/clients/hp.png" class="img-fluid" alt=""></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>

    </section><!-- End Clients Section -->
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-4 col-md-12 footer-info">
            <a href="{{ url_for('index') }}"  class="logo d-flex align-items-center">
              <img src="../static/assets/img/logo.png" alt="">
              <span>Friendly Gadget</span>
            </a>
            <p>Help people to find optimal device </p>
          </div>

          <div class="col-lg-4 col-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#hero">Home</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#about">About us</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#features">Features</a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-12 footer-links text-center text-md-start">
            <h4>Our Team</h4>
           
            <ul>
              <p><i class="bi bi-chevron-right"></i> <strong>Abdulwasiu Tunde Yusuf</strong> &nbsp;&nbsp; <a href="https://github.com/Yusuf-R"><i class="bi-github text-primary"></i></a> &nbsp; <a href="https://www.linkedin.com/in/abdulwasiu-yusuf-10044299/"><i class="bi-linkedin text-primary"></i></a></p>
              <p><li><i class="bi bi-chevron-right"></i> <strong>Saria Mohammed</strong> &nbsp;&nbsp;<a href="https://github.com/saria-mohi"><i class="bi-github text-primary"></i></a> &nbsp; <a href="https://www.linkedin.com/in/saria-mohi-aldein-mohammed-b17630137"><i class="bi-linkedin text-primary"></i></a></li></p>
              <p><li><i class="bi bi-chevron-right"></i><strong>Friendly Gadget</strong> &nbsp;&nbsp;<a href="https://github.com/Yusuf-R/Friendly_Gadget"><i class="bi-github text-primary"></i></a></li></p>
              <p><li><i class="bi bi-chevron-right"></i><strong>Friendly Gadget</strong> &nbsp;&nbsp;<a href="https://friendly-gadget.000webhostapp.com/"><i class="bi-link text-primary " ></i></p>

            </ul>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Friendly Gadget</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
           Designed by <a href="#">ALX Project Team Group</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/assets/vendor/purecounter/purecounter.js"></script>
  <script src="../static/assets/vendor/aos/aos.js"></script>
  <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/assets/vendor/php-email-form/validate.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
  <!-- Custom Main JS File -->
  <script src="../static/assets/js/main.js"></script>
  <script>
 $(".chosen-select").chosen({
      no_results_text: "Oops, nothing found!"
    });
  </script>
</body>

</html>