<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Friendly Gadget</title>
  <meta content="" name="description">

  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/assets/img/logo.png" rel="icon">
  <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet" />
  <!-- Custom Css file -->
  <link href="../static/assets/css/style.css" rel="stylesheet">
</head>

<body>

 <!-- ======= Header ======= -->
 <header id="header" class="header fixed-top">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <a href="index.html" class="logo d-flex align-items-center">
      <img src="../static/assets/img/logo.png" alt="">
      <span>Friendly Gadget</span>
    </a>

    <nav id="navbar" class="navbar">
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->

  <main id="main">

     <!-- ======= Breadcrumbs ======= -->
     <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="{{ url_for('admin') }}">Admin</a></li>
          <li>Summaries</li>
        </ol>
        <h2>Summaries</h2>

      </div>
    </section><!-- End Breadcrumbs -->


    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">
            <div class="col-lg-4">

                <div class="sidebar">
    
                 
    
                  <div class="sidebar-item categories">
                    <ul>
                      <li><a href="{{ url_for('admin') }}">Dashboard </a></li>
                      <hr>
                      <li><a href="{{ url_for('brands') }}" >Brands </a></li>
                      <hr>
                      <li><a href="{{ url_for('models') }}" class="active">Models </a></li>
                      <hr>
                      <li><a href="{{ url_for('summaries') }}" class="sidebar-title active">Summaries </a></li>
                    
                    </ul>
                  </div><!-- End sidebar categories-->
    
                  
                  </div><!-- End sidebar recent posts-->
    
                  
    
                </div><!-- End sidebar -->
    
          <div class="col-lg-8 entries">

           

            <div class="blog-comments">

                <button type="submit" class="btn btn-primary"><a href="{{ url_for('add_model') }}" class="text-white">Add Model</a></button>
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                  <div class="alert">
                    {% for category, message in messages %}
                      <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                  </div>
                {% endif %}
              {% endwith %}

                <table class="table">
                    <thead>

                        <tr>
                            <th>#</th>
                            <th>Model Name</th>
                            <th>Brand Name</th>
                            <th>Image</th>
                            <th>actions</th>
                        </tr>
                        
                    </thead>
                    <tbody>
                      {% for model in obj %}
                      {% set brand = model.brands %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{model.model_name}}</td>
                            <td>{{brand.brand_name}}</td>
                            <td><img src={{model.model_img}} height="50" width="50"></td>

                            <td>
                              
                                
                                <a href="{{ url_for('view_summary', model_id=model.id) }}" class="text-secondary" title="View Details"><i class="bi-eye-fill"></i></a> &nbsp;
                                <a href="{{ url_for('edit_summary', model_id=model.id) }}" title="Edit"    class="text-success"><i class="ri-edit-2-fill"></i></a> &nbsp;
                                <a href="{{ url_for('add_summary', model_id=model.id) }}" class="text-primary" title="Add Summary"><i class="bi-plus-circle"></i></a> &nbsp;
                                <a href="{{ url_for('delete_model', model_id=model.id) }}" title="Delete" class="text-danger"><i class="bi-trash   "></i></a>

                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>



                </table>

              </div>

            </div><!-- End blog comments -->

          </div><!-- End blog entries list -->

        
          </div><!-- End blog sidebar -->

        </div>

      </div>
    </section><!-- End Blog Single Section -->

  </main><!-- End #main -->


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/assets/vendor/purecounter/purecounter.js"></script>
  <script src="../static/assets/vendor/aos/aos.js"></script>
  <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Custom Main JS File -->
  <script src="../static/assets/js/main.js"></script>

</body>

</html>