<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Search - Frindly Gadget</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/logo.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet" />

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  <style>
  .d-none {
      display: none;
    }
  </style>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <img src="assets/img/logo.png" alt="">
        <span>Friendly Gadget</span>
      </a>

      <nav id="navbar" class="navbar">
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      
      <!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Search</li>
        </ol>
        <h2>Search</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-6 entries">
            <div class="blog-comments">
              <div class="reply-form">
                <h4>Enter Your Features</h4>
                <hr>
                <br><br>
                <form action="">
                  <div class="row">
                    <div class="col-md-6 form-group">

                      <select name="category" onchange="openPage(this.value)" class="form-select"
                        aria-label="Default select example">
                        <option selected disabled>Select your Device</option>

                        <option value="tabOne">PC/Labtop</option>
                        <option value="tabTwo">Mobile</option>
                      </select>

                    </div>
                    <div class="col-md-6 form-group">
                      <select data-placeholder="Select Your Purpose..." multiple class="chosen-select form-select"
                      name="test">
                      <option value=""></option>
                      <option>Education</option>
                      <option>Office User</option>
                      <option>Home User</option>
                      <option>Business</option>
                      <option>Photographer</option>
                      <option>bloger </option>
                      <option>Publisher</option>
                      <option>Programmer</option>
                      <option>Social Media</option>
                      <option>Developement</option>
                      <option>High-End Gaming </option>
                      <option>Low-End Gaming </option>
                    </select>
                </div>
                  </div>
                  <div class="tabs">
                    <div tab-name="tabOne" class="tabcontent d-none">
                      <legend>PC Features</legend>
                      <div class="row">
                        <div class="col-md-6 form-group">
                          <select class="form-select" placeholder="">
                            <option selected disabled>Select Brand</option>
                            <option>Apple</option>
                            <option>Hawie</option>
                            <option>Dell</option>
                            <option>Asus</option>
                            <option>HP</option>
                            <option>Lenovo</option>
                            <option>Samsung</option>

                          </select>
                        </div>
                        
                      </div>
                      <div class="row">
                        <div class="col-6 form-group">
                          <select class="form-select" placeholder="">
                            <option selected disabled>Select  RAM</option>
                            <option>4 G</option>
                            <option>6 G</option>
                            <option>8 G</option>
                            <option>16 G</option>
                            <option>32 G</option>
                            <option>64 G</option>

                          </select>

                        </div>
                        <div class="col-6 form-group">
                          <select class="form-select" placeholder="">
                            <option selected disabled>Select  Storage</option>
                            <option disabled>HDD</option>
                            <option>250 G</option>
                            <option>500 G</option>
                            <option>1 T </option>
                            <option disabled>SSD</option>
                            <option>128 G</option>
                            <option>256 G</option>
                            <option>512 G</option>
                            <option>750 G</option>
                            <option>1 T</option>
                            <option>2 T</option>
                          </select>

                        </div>
                      </div>

                      <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                    <div tab-name="tabTwo" class="tabcontent d-none">
                      <legend>Mobile Features</legend>

                      <div class="row">


                        <div class="col-md-6 form-group">
                          <select class="form-select" placeholder="">
                            <option selected disabled>Select Brand</option>
                            <option>Apple</option>
                            <option>Hawie</option>
                            <option>Nokia</option>
                            <option>Tecno</option>
                            <option>Samsung</option>

                          </select>
                        </div>
                       
                      </div>
                      <div class="row">
                        <div class="col-6 form-group">
                          <select class="form-select" placeholder="">
                            <option selected disabled>Select Your Memory</option>
                            <option>2 G</option>
                            <option>3 G</option>
                            <option>4 G</option>
                            <option>6 G</option>
                            <option>8 G</option>
                          </select>

                        </div>
                        <div class="col-6 form-group">
                          <select class="form-select" placeholder="">
                            <option selected disabled>Select Your Storage</option>
                            <option>32 G</option>
                            <option>64 G</option>
                            <option>128 G</option>
                            <option>256 G</option>
                            <option>512 G</option>
                          </select>

                        </div>
                      </div>

                      <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                    </div>

                </form>

              </div>

            </div><!-- End blog comments -->

          </div><!-- End blog entries list -->

          <div class="col-lg-6">

            <div class="sidebar">

              <h3 class="sidebar-title">Search Result</h3>
              <div class="sidebar-item search-form text-center">
                <img src="assets/img/features.png" height="200" width="200">
              </div>

              <h3 class="sidebar-title">Device Details</h3>
              <div class="sidebar-item categories">
                <ul>
                  <li><a href="#">Phone Details <span></span></a></li>
                  <li><a href="#">Launch Details <span></span></a></li>
                  <li><a href="#">Networ kDetails <span></span></a></li>
                  <li><a href="#">Display Details <span></span></a></li>
                  <li><a href="#">Body Details <span></span></a></li>
                  <li><a href="#">Platform Details <span></span></a></li>
                  <li><a href="#">Processor <span></span></a></li>
                  <li><a href="#">ChipSet <span></span></a></li>
                  <li><a href="#">Memory Details <span></span></a></li>
                  <li><a href="#">Main Camera <span></span></a></li>
                  <li><a href="#">Selfie Camera <span></span></a></li>
                  <li><a href="#">Battery <span></span></a></li>
                </ul>
              </div><!-- End sidebar categories-->

            </div><!-- End sidebar -->

          </div><!-- End blog sidebar -->

        </div>

      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12 text-center">
            <h4>Our Newsletter</h4>
            <p>Please! Subscribe in our Site to Follow our News</p>
          </div>
          <div class="col-lg-6">
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-4 col-md-12 footer-info">
            <a href="index.html" class="logo d-flex align-items-center">
              <img src="assets/img/logo.png" alt="">
              <span>Frindly Gadget</span>
            </a>
            <p>Help people to find optimal device </p>
          </div>

          <div class="col-lg-4 col-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#hero">Home</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#about">About us</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#recent-blog-posts">blog</a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-12 footer-contact text-center text-md-start">
            <h4>Contact Us</h4>
            <strong>Email:</strong> <a href="mailto:info@example.com">info@example.com</a><br>
            </p>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Frindly Gadget</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="#">ALX Project Team Group</a>
      </div>
    </div>
  </footer><!-- End Footer -->


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
  <script>
    $(".chosen-select").chosen({
      no_results_text: "Oops, nothing found!"
    });
    function openPage(id) {
      const p = document.querySelector("[tab-name='" + id + "']");
      const tabs = document.querySelectorAll(".tabs .tabcontent");
      for (var x = 0; x < tabs.length; x++)
        tabs[x].classList.add("d-none");
      if (p !== null) {
        p.classList.remove("d-none");
      }


    };
  </script>

</body>

</html>